
<div>
	<div><a type="button" href="/adminusers" class="btn btn-lg btn-warning vspaced">Admin users</a></div>
	<div><a type="button" href="/adminstudents" class="btn btn-lg btn-warning vspaced">Admin students</a></div>
	<div><a type="button" href="/adminclasses"class="btn btn-lg btn-warning vspaced">Admin classes</a></div>
</div>
