<html>
{{> header}}
<body>
	<div class="container-fluid">
		{{> topbar}}
		<h1>Registermate</h1>
		<h3>Admin users</h3>
		<table class="table table-bordered">
		<thead class="table table-bordered">
			<tr>
			<th>Username</th>
			<th>First Name</th>
			<th>Surname</th>
			<th>Email</th>
			<th>Role</th>
			<th>Actions</th>
			</tr>
		</thead>
		<tbody id="usertable" class="table table-bordered">

		</tbody>
		</table>
	</div>
	<script src="/clientscripts/adminUsers.js"></script>
</body>
</html>
