
<div>
	<div><button class="btn btn-lg btn-warning vspaced">Admin users</button></div>
	<div><button class="btn btn-lg btn-warning vspaced">Admin students</button></div>
	<div><button class="btn btn-lg btn-warning vspaced">Admin sessions</button></div>
</div>
