<html>
{{> header}}
<body>
	<div class="container-fluid" style="text-align: center">
		{{> topbar}}
		<div class="center-block">
		<h1>Registermate</h1>
		<h3>Menu</h3>
		{{> teacherOptions}}
		{{> adminOptions}}
		</div>
		<div style="margin-top: 50px">
		<a href="https://www.doc.gold.ac.uk/tutorials/videos/registermate/demo.mp4" target="blank">How do I use this tool ?</a>
		</div>
	</div>
</body>
</html>
