<html>
{{> header}}
<body>
	<div class="container-fluid" style="text-align: center">
		{{> topbar}}
		<div class="center-block">
		<h1>Registermate</h1>
		<h3>Menu</h3>
		{{> teacherOptions}}
		{{> adminOptions}}
		</div>
	</div>
</body>
</html>
