<html>
{{> header}}
<body>
	<div class="container-fluid">
		{{> topbar}}
		<h1>Registermate</h1>
		<h3>Create a new class</h3>



		<div class="form-group form-inline" style="margin-top: 50px">

			<div style="margin-top: 20px">
				<label for="typeInput">Select a class type</label>
				<select class="form-control" id="typeInput">
					<option value="Lecture">Lecture</option>
					<option value="Seminar">Seminar</option>
					<option value="Lab">Lab</option>
					<option value="Workshop">Workshop</option>
					<option value="Meeting">Meeting</option>
					<option value="Masterclass">Masterclass</option>
					<option value="Talk">Talk</option>
					<option value="Excursion">Excursion</option>
				</select>
			</div>

			<div style="margin-top: 20px">
				<label for="termInput">Select a term</label>
				<select class="form-control" id="termInput">
					<option value="none">none</option>
					<option value="term1">term 1</option>
					<option value="term2">term 2</option>
					<option value="term3">term 3</option>
				</select>
				<i>This is optional</i>
			</div>

			<div style="margin-top: 20px">
				 <label for="departmentInput">Select your department</label>
				 <select class="form-control" id="departmentInput">
					 <option value="none">none</option>
				 </select>
			</div>

			<div style="margin-top: 20px" id="moduleSinglePanel">
				<label for="moduleInputSingle">Select a module</label>
				<select class="form-control" id="moduleInputSingle">
						<option value="none">none</option>
				</select>
			</div>


			<div id="modulePanel" class="panel panel-default hidden" style="margin-top: 20px">
				<div class="panel-heading">Add modules</div>
				<div class="panel-body">
				<div style="margin-top: 20px">
					<label for="moduleInputMultiple">Select a module</label>
					<select class="form-control" id="moduleInputMultiple">
							<option value="none">none</option>
					</select>
					<button id="addExisting" class="btn btn-info">add to class</button>
				</div>

				<div style="margin-top: 20px">
					<b>Class modules:</b>
					<table  class="table table-bordered">
						<thead class="table table-bordered">
							<tr>
								<th>Module</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody class="table table-bordered" id="classModules"></tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="checkbox" style="margin-top: 20px">
			<label>
				<input id="multiple" type="checkbox"> This register is for multiple modules
			</label>
		</div>

		<div style="margin-top: 20px">
			<label for="customLabel">Add a custom label</label>
			<input type="text" id="customLabel">
			<i>This is optional</i>
		</div>

			<div style="margin-top: 20px">
			<b>Class name:</b>
			<div id="className"></div>
			</div>


			<div style="margin-top: 30px; text-align: center">
				<input class="btn btn-danger btn-lg" id="createClass" type="button" value="Create new class">
			</div>
		</div>
	</div>
	<script src="clientscripts/createClass.js"></script>
</body>
</html>
