<html>
{{> header}}
<body>
	<div class="container-fluid">
		{{> topbar}}
		<h1>Registermate</h1>
		<h3>Edit class</h3>

		<div class="form-group form-inline" style="margin-top: 50px">

			<div>
				<label for="classInput">Select a class: </label>
				<select class="form-control" id="classInput">
						<option value="none">none</option>
				</select>
			</div>

			<div class="panel panel-default panel-danger" style="margin-top: 30px">
				<div class="panel-heading">Danger zone</div>
				<div class="panel-body">
					<input class="btn btn-danger" style="margin-left: 20px" id="removeClass" type="button" value="Delete class">
					<!--
					NOT IMPLEMENTED YET
					<div style="margin-top: 40px">
					<input class="btn btn-danger" style="margin-left: 20px" id="importClass" type="button" value="Import data">
					<label for="classInput">from class: </label>
					<select class="form-control" id="importInput">
							<option value="none">none</option>
					</select>
					</div>-->
					<div style="margin-top: 40px">

						<input class="btn btn-danger" style="margin-left: 20px" id="numSessionsButton" type="button" value="Change Num Sessions">
						<label for="numSessionsInput"> to </label>
						<select class="form-control" id="numSessionsInput">
							<!-- fill this programmaticallty -->
						</select>
						<label for="numSessionsInput">sessions </label>

					</div>
				</div>
			</div>


			<h4>Add teachers:</h4>
			<div style="margin-top: 30px">
				<label for="department">Department: </label>
				<select class="form-control" id="departmentInput">
					<option value="none">none</option>
				</select>
				<label for="teacher">Teacher: </label>
				<select class="form-control" id="teacherInput">
					<option value="none">none</option>
				</select>
				<input class="btn btn-warning" id="addTeacher" type="button" value="Add Teacher">
			</div>

			<div style="margin-top: 30px">
				<h4>Class teachers</h4>
				<table class="table table-bordered">
					<thead class="table table-bordered">
						<tr>
							<th>Name</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="table table-bordered" id="teachersTable"></tbody>
				</table>
			</div>

			<div style="margin-top: 30px">
				<label for="newStudents">Add student details: </label>
				<br>
				<textarea class="form-control" id="newStudents" rows="10" cols="50">
Cut and paste student details here using the format:

surname, first name, campus name

eg. Katan, Simon, skata001

use one line per student
				</textarea>
			</div>
			<div style="margin-top: 20px">
				<input class="btn btn-warning" id="addStudents" type="button" value="Add students to class">
			</div>

				<div style="margin-top: 50px">
					<h4>Class students</h4>
					<table class="table table-bordered">
						<thead class="table table-bordered">
							<tr class="table-bordered">
								<th>surname</th>
								<th>firstname</th>
								<th>campus</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody class="table table-bordered" id="studentsTable">
						</tbody>

					</table>
				</div>


			</div>


</body>
<script src="clientscripts/editClass.js"></script>
</html>
