<head>
	<title>Registermate v3.0</title>
	<script src="/libs/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
	<!--<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-theme.min.css">-->
	<script src="/libs/bootstrap/js/bootstrap.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<style>
		.vspaced
		{
			margin-top: 5px;
			margin-bottom: 5px;
		}
		.hspaced
		{
			margin-left: 5px;
			margin-right: 5px;
		}
		.topbar
		{
			margin-top: 5px;
			height: 40px;
		}
	</style>
</head>
