<html>
{{> header}}
<body>
	<div class="container-fluid" style="text-align: center">
		<h1>Registermate</h1>
		<h3>Login</h3>
		<form>
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" placeholder="admin">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" placeholder="*****">
			</div>

			<button class="btn btn-info" id="submit" type="submit">Submit</button>

		</form>
			<a type="button" class="btn btn-default btn-sm" href="/registeraccount">register new account</a>
			<a type="button" class="btn btn-default btn-sm" href="/requestreset">forgot password ?</a>
			<div style="margin-top: 50px">
			<a href="https://www.doc.gold.ac.uk/tutorials/videos/registermate/demo.mp4" target="blank">Tutorial video</a>
			</div>
	</div>
	<script src="/clientscripts/login.js"></script>
</body>
</html>
