<html>
	{{> header}}
	<body>
		<div class="container-fluid" id="registerme" style="text-align: center">
		<h1>Registermate</h1>
			<h3>{{classname}}</h3>
			<form>
				<div class="form-group">
					<label for="classpass">Enter the one time class pass</label>
					<input type="text" class="form-control" id="classpass" placeholder="apples">
				</div>
				<div class="form-group">
					<button id="register" class="btn btn-info btn-lg">Submit</button>
				</div>
			</form>
		</div>
		<script>

			var username = "{{username}}";
			var classid = "{{classid}}";
			var errorMessage = false;
			$("#register").on("click", function(e)
			{
				console.log(e);
				e.preventDefault();
				var a = $("<p>Something not right ? Report a problem <a href='https://learn.gold.ac.uk/mod/questionnaire/view.php?id=715371'>here</a></p>");

				var classpass = $('#classpass').val();
				classpass = classpass.trim();
				classpass = classpass.toLowerCase();
				var r = $.post(server_url + "/registerme",
				{username: username, classid: classid, classpass: classpass},
				function(res)
				{
					document.open();
					document.close();
					document.write(res);
				});

				r.fail(function(res)
				{
					if(res.responseText)
					{
						alert(res.responseText);
					}else{
						alert(res);
					}

					if(!errorMessage)
					{
						$('#registerme').append(a);
						errorMessage = true;
					}
				})

			})

		</script>
	</body>
</html>
