<form>
	<div style="margin-bottom: 40px">
		<div class="form-group">
			<label for="username">Username - Goldsmiths login</label>
			<input type="text" class="form-control" id="username" placeholder="admin">
		</div>
		<div class="form-group">
			<label for="email">Email - Goldsmiths email</label>
			<input type="text" class="form-control" id="email" placeholder="admin">
		</div>
	</div>
	<div style="margin-bottom: 40px">
		<div class="form-group">
			<label for="firstname">First name</label>
			<input type="text" class="form-control" id="firstname" placeholder="Joe">
		</div>
		<div class="form-group">
			<label for="surname">Surname</label>
			<input type="text" class="form-control" id="surname" placeholder="Bloggs">
		</div>
	</div>
	<div style="margin-bottom: 40px">
		<div class="form-group">
			<label for="departmentInput">Primary Department</label>
			<select class="form-control" id="departmentInput">
				<option value="none">none</option>
			</select>
		</div>
	</div>
	<div style="margin-bottom: 25px">
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password1" placeholder="*****">
		</div>
		<div class="form-group">
			<label for="password">Confirm Password</label>
			<input type="password" class="form-control" id="password2" placeholder="*****">
		</div>
	</div>
	<button class="btn btn-default" id="submit" type="submit">Submit</button>
</form>
