<html>
{{> header}}
<body>
	<div class="container-fluid" style="text-align: center">
		<h1>Registermate</h1>
		<h3>Reset your password</h3>
		<p>Enter your username below and we will email you with a reset link.</p>
		<form>
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" placeholder="admin">
			</div>

			<button class="btn btn-default" id="submit" type="submit">Submit</button>

		</form>

	</div>
	<script>
		$('#submit').on('click', function(e)
		{
			$('#submit').attr("disabled", "disabled");
			var ud = {};
			ud.username = $('#username').val();

			e.preventDefault();

			var req = $.post(
				SERVER_URL + "/emailreset", ud, function(res)
				{
					alert(res);
					$('#submit').removeAttr("disabled");
				}
			)

		})
	</script>
</body>
</html>
