<html>
{{> header}}
<body>
	<div class="container-fluid" style="text-align: center">
		<h1>Registermate</h1>
		<h3>Reset password</h3>
		<form>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password1" placeholder="*****">
			</div>
			<div class="form-group">
				<label for="password">Confirm Password</label>
				<input type="password" class="form-control" id="password2" placeholder="*****">
			</div>
			<button class="btn btn-default" id="submit" type="submit">Submit</button>
		</form>
	</div>
<script src="/clientscripts/clientutils.js"></script>
<script>

$('#submit').on('click', function(e){

	var ud = {};
	ud.password1 = $('#password1').val();
	ud.password2 = $('#password2').val();
	e.preventDefault();
	var error = validatePassword(ud);

	if(error == null)
	{
		$.post(
			server_url + "/reset", ud, function(res)
			{
				alert(res);
				$('#submit').attr("disabled", "disabled");
			}
		)
		.fail(function(res){
			alert(res.responseText);

		})
	}
	else
	{
			alert(error);
	}

})

</script>
</body>
</html>
