<html>
	{{> header}}
	<body>
		<div id="student" class="container-fluid" style="text-align: center">
		<h1>Registermate</h1>
			<form>
				<div class="form-group">
					 <label for="username">Campus Login</label>
					 <input type="text" class="form-control" id="username" placeholder="skata001">
				 </div>
				 <div class="form-group">
					 <button id="register" class="btn btn-info btn-lg">Register</button>
				</div>
			</form>
		</div>
		<script src="/clientscripts/student.js"></script>
	</body>
</html>
