<div>
	<div><button class="btn btn-lg btn-success vspaced">take register</button></div>
	<div><a type="button" href="/createclass" class="btn btn-lg btn-info vspaced">create class</a></div>
	<div><a type="button" href="/editclass" class="btn btn-lg btn-primary vspaced">edit class</a></div>
</div>
