<div>
	<div><button class="btn btn-lg btn-success vspaced">take register</button></div>
	<div><a type="button" href="/createsession" class="btn btn-lg btn-info vspaced">create session</a></div>
	<div><button class="btn btn-lg btn-primary vspaced">edit session</button></div>
</div>
