<div>
	<div><button class="btn btn-lg btn-success vspaced">take register</button></div>
	<div><button class="btn btn-lg btn-info vspaced">create session</button></div>
	<div><button class="btn btn-lg btn-primary vspaced">edit session</button></div>
</div>
