<div class="topbar">
	<a type="button" href="/logout" class="btn btn-default btn-sm pull-right hspaced">Log out</a>
	<a type="button" href="/teacher" class="btn btn-success btn-sm pull-right hspaced">Home</a>
</div>
